body {
  position: relative;
}

iframe {
  width: 100%;
  height: 100vh;
}

.map-icon {
  position: fixed;
  bottom: 15px;
  left: 7px;
  z-index: 9999;
}
.map-icon ul {
  list-style: none;
  padding-left: 0px;
}
.map-icon ul li {
  border: 1px solid #555;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 27px 23px 20px -22px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.map-icon ul li img {
  width: 100%;
}

.modal-dialog {
  position: absolute !important;
  /*right: 20px !important;
  bottom: 20px !important;*/
  width: 500px !important;
  top:0;
  left:30%;
  
}

.modal-header {
  background: #1E25B2;
  color: #fff;
  text-transform: uppercase;
}

.data-box {
  border: 1px solid #ccc;
  padding: 12px;
  background: #F5F6FF;
}
.data-box h4 {
  font-size: 17px;
  text-transform: uppercase;
}
.data-box .information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.data-box .information img {
  width: 43px;
}
.data-box .information h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}
.data-box .information .temp {
  font-size: 27px;
}

.cloud-calender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}
.cloud-calender .cloud-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  background: #F5F6FF;
  padding: 5px;
  width: 105px;
}
.cloud-calender .cloud-box p {
  margin-bottom: 0px;
}
.cloud-calender .cloud-box.last-one {
  width: 100%;
}
.cloud-calender .cloud-box .date {
  font-size: 13px;
  color: #555;
}
.cloud-calender .cloud-box img {
  width: 30px;
}
.cloud-calender .cloud-box .type {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.bt-close {
  background: transparent;
  border: none;
}

.map-dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 215px;
  background: white;
  padding: 8px 10px;
  z-index: 9;
}

.modal-body {
  height: auto;
  overflow-y: scroll;
}
.modal-dialog {
  top: 0;
    left: 0%;
    right: 0%!important;
}
@media screen and (max-width: 800px) {
 
  .last-one {
    width: 100px !important;
  }
  .cloud-box {
    width: 46% !important;
  }
  .map-dropdown {
    width: 90% !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
}
.gm-style .place-card-large {
  display: none !important;
  opacity: 0 !important;
}

.search-input {
  position: absolute;
  top: 0 !important;
  z-index: 999 !important;
  padding: 10px !important;
  right: 5px !important;
  top: 6px !important;
  width: 300px !important;
  border: 2px solid #555 !important;
}/*# sourceMappingURL=style.css.map */

#modalId1,#modalId2,#modalId3{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	display: flex;
}
.container{
	background: #E7E7E7;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100vh;
	margin: 3px;

}
.container textarea {
	background-color:  #121212;
	border:1px solid #0dddf0;
	resize: none;
	width: 100%;
	height: 33.333%;
	font-size: 1.4rem;
	padding: 10px;
	resize: vertical;
	overflow-y: scroll;
	color:white;
}
.container textarea:focus {
	outline: none;
	color:white;
}
.iframe-container{
	background: white;
	width: 50%;
	height: 100vh;
	margin: 3px;
}
#viewer{
	width: 100%;
	height: 100%;
}
.split {
  width:100%;
  height:100%;
}
.gutter {
  cursor: e-resize;
  height: 100%;
  background: grey;
}
.gutter.gutter-horizontal {
    cursor: ew-resize;
}



#btn{
	background: #0df073;
	color: white;
	font-size: 1.4rem;
	width: 100px;
	height: 50px;
	/* make button center  */
	margin: 0 auto;	
	/* padding: 10px; */
	border: none;

}
